.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
    margin: 20px 40px; 
    padding: 0 2rem;
    height: 80px;

    
    background-color: rgba(5, 5, 10, 0.85); 
    backdrop-filter: blur(10px); 
    
    
    border: none; 
    border-radius: 50px;
    
    /* Usamos DUAS sombras para criar o efeito de tubo de luz */
    box-shadow: 
        /* Sombra INTERNA (inset) -> Cria uma borda de luz suave dentro do header */
        inset 0 0 15px rgba(255, 0, 153, 0.3),
        
        /* Sombra EXTERNA: O "esfumado" forte brilhando para fora */
        0 0 30px rgba(255, 0, 153, 0.5),
        
        0 0 5px rgba(255, 0, 153, 0.7);
    
    color: white;
    z-index: 100;
    position: relative;
}

#logo-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

#logo-content:hover {
    transform: scale(1.05);
}

.logo-img {
    height: 60px;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.text-user {
    font-size: 1rem;
    color: #ccc;
    font-weight: 500;
    margin-right: 10px;
}

/* Links Início, Minha Conta, Entrar */
.link-text, .link-btn {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}

.link-text:hover, .link-btn:hover {
    color: #00F3FF; /* Ciano Neon no hover */
    text-shadow: 0 0 8px rgba(0, 243, 255, 0.6);
}

/* Página Atual */
.active-link {
    color: #00F3FF !important;
    font-weight: 700;
    position: relative;
}

.link-btn-primary {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    
    
    padding: 10px 24px;
    border-radius: 50px;
    background: linear-gradient(45deg, #9D00FF, #FF0099);
    box-shadow: 0 0 10px rgba(157, 0, 255, 0.4);
    
    transition: transform 0.2s, filter 0.2s;
    border: none; 
}

.link-btn-primary:hover {
    transform: scale(1.05);
    filter: brightness(1.2); /* Brilha mais ao passar o mouse */
    box-shadow: 0 0 20px rgba(255, 0, 153, 0.6);
}

/* Responsividade Básica */
@media (max-width: 900px) {
    .header {
        margin: 10px;
        padding: 0 1rem;
    }
    .text-user {
        display: none;
    }
}