/* :host refere-se ao próprio <app-root> */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa no mínimo a tela inteira */
  background: radial-gradient(circle at center, #1a1a2e 0%, #090014 100%);
}

/* O main vai "crescer" (flex: 1) para ocupar todo o espaço vazio disponível */
main {
  flex: 1;
  
}