.home-section {
    display: flex;
    align-items: center;     
    justify-content: center; 
    gap: 4rem;               
    min-height: 80vh;        
    padding: 2rem;
}


.img-container {
    
    width: 450px;
    height: 450px;
    
    border-radius: 50%;
    
    /* Garante que a imagem não vaze do círculo */
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo-img {
    width: 120%; 
    height: auto;
    object-fit: contain;
    
    /* Animação suave fazendo a logo flutuar) */
    animation: float 5s ease-in-out infinite;
}


.text-content {
    max-width: 500px; 
}

.text-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: white;
}
/*
.highlight {
    /* Gradiente no texto 
    background: linear-gradient(to right, #00F3FF, #FF0099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/

.text-content p {
    font-size: 1.3rem; 
    color: #000000;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.text-content strong {
    color: #600363; /* Destaque em branco para a frase de efeito */
    font-weight: 600;
}

.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-start {
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #9D00FF, #FF0099);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

    
}

.btn-start:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 153, 0.4);
}


@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

