
.card {
    background-color: rgba(5, 5, 10, 0.85); 
    backdrop-filter: blur(5px); 
    
    
    border: 1px solid rgba(255, 0, 153, 0.2); 
    
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    
   
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
   
    box-shadow: 0 4px 10px rgba(255, 0, 153, 0.2);
}

.card:hover {
    transform: translateY(-8px);
    border-color: #00F3FF; 
    box-shadow: 0 10px 30px rgba(0, 243, 255, 0.25); 
}


.card img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: filter 0.3s ease;
}

/* Brilho na imagem ao passar o mouse */
.card:hover img {
    filter: brightness(1.3);
}


.card-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}


.title {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    
    /* Serve para adicionar ... quanto o título é mt grande*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
    transition: color 0.3s ease;
}


.subtitle {
    margin: 0;
    color: #a49ebf; 
    font-size: 0.85rem;
    font-weight: 500;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card:hover .title {
    color: #00F3FF; 
    text-shadow: 0 0 5px rgba(0, 243, 255, 0.5); 
}