.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 


    margin: 20px 40px; 
    padding: 0 2rem;
    min-height: 60px; 

    
    background-color: rgba(5, 5, 10, 0.85);
    backdrop-filter: blur(10px);

    
    border: none;
    border-radius: 50px;

    
    box-shadow: 
        inset 0 0 15px rgba(255, 0, 153, 0.3), /* Brilho interno */
        0 0 30px rgba(255, 0, 153, 0.5),      /* Esfumado externo */
        0 0 5px rgba(255, 0, 153, 0.7);       /* Definição da borda */

    color: #a49ebf; 
    font-size: 0.9rem;
    
    position: relative;
    z-index: 100;
}

/* Links do LinkedIn */
.linkedin-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.linkedin-links a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

/* Hover Cyberpunk nos Links */
.linkedin-links a:hover {
    color: #00F3FF; /* Ciano Neon */
    text-shadow: 0 0 8px rgba(0, 243, 255, 0.6);
    transform: translateY(-2px); /* Leve flutuação */
}